.aboutRow {
    padding: 200px 0 0 0;
    height: 90vh;
    background-color: #1a8fe3;
    align-items: start;
    text-align: center;
}

.aboutCards {
    height: 100%;
}

.myPic {
    width: 400px;
    height: 400px;
    border: solid 5px black;
    margin: 20px 0 50px 0;
}

.profile {
    background-color: #f17105!important;
    padding-bottom: 20px;
    padding-top: 20px;
}

h2 {
    padding: 20px 0 0 0;
}

.aboutText {
    color: #e5e5e5;
    font-size: 18px;
    font-weight: 400;
    margin: 0 400px 0 400px;
}